.SideBar
  .LeftHeader
    .LeftHeader__list
      .LeftHeader__userName
        ren
      .LeftHeader__iconList
        .LeftHeader__Icon
          = link_to '#', class: "btn-icon" do
            = icon('fab', 'facebook-square')
        .LeftHeader__Icon
          = link_to '#', class: "btn-icon" do
            = icon('fab', 'twitter-square')
  .GroupList
    .Group
      .Group__name
        ren
      .Group__message
        まだメッセージはありません
